# BCB
BCB_BASE_URL='https://www.bcb.gov.br/api/search/app/normativos/buscanormativos?querytext=ContentType:normativo%20AND%20contentSource:normativos&rowlimit=15&startrow=0&sortlist=Data1OWSDATE:descending'

# CVM
CVM_BASE_URL='https://conteudo.cvm.gov.br/legislacao/index.html?numero=&lastNameShow=&lastName=&filtro=todos&dataInicio=01%2F01%2F2026&dataFim=&buscado=false&contCategoriasCheck=7'

# Evolution API
AUTHENTICATION_API_KEY=...
CONFIG_SESSION_PHONE_VERSION=2.3000.1015901307
EVOLUTION_BASE_URL=http://localhost:8080
EVOLUTION_INSTANCE_NAME=gms-bcb
EVOLUTION_GROUP_JID=...@g.us
# Redis
# Habilitar o cache Redis
CACHE_REDIS_ENABLED=true

# URI de conexão com o Redis
CACHE_REDIS_URI=redis://redis:6379/6

# Prefixo para diferenciar os dados de diferentes instalações que utilizam o mesmo Redis
CACHE_REDIS_PREFIX_KEY=evolution

# Habilitar para salvar as informações de conexão no Redis ao invés do banco de dados
CACHE_REDIS_SAVE_INSTANCES=false

# Habilitar o cache local
CACHE_LOCAL_ENABLED=false

# PostgreSQL
# Habilitar o uso do banco de dados
DATABASE_ENABLED=true

# Escolher o provedor do banco de dados: postgresql ou mysql
DATABASE_PROVIDER=postgresql

# URI de conexão com o banco de dados
DATABASE_CONNECTION_URI='postgresql://user:pass@postgres:5432/evolution?schema=public'

# URI de conexão para o app
APP_DATABASE_URL='postgresql://user:pass@postgres:5432/evolution'

# Nome do cliente para a conexão do banco de dados
DATABASE_CONNECTION_CLIENT_NAME=evolution_exchange

# Escolha os dados que você deseja salvar no banco de dados da aplicação
DATABASE_SAVE_DATA_INSTANCE=true
DATABASE_SAVE_DATA_NEW_MESSAGE=true
DATABASE_SAVE_MESSAGE_UPDATE=true
DATABASE_SAVE_DATA_CONTACTS=true
DATABASE_SAVE_DATA_CHATS=true
DATABASE_SAVE_DATA_LABELS=true
DATABASE_SAVE_DATA_HISTORIC=true
